body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BBmc1w7Iiq35z51n/videoblocks-abstract-dark-background-honeycomb-grid-with-lighting-effect-for-technology_sk9-knpqe_thumbnail-full01.png');
	background-size: cover;
	background-repeat: no-repeat;
}
#root {
	display: flex;
	height: 100vh;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #5f6877;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #404857;
}

.empty-state {
	margin: auto;
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.empty-state > img {
	opacity: 0.3;
}
.chat-enter {
	margin: auto;
	padding: 20px;
	background: #3c3f54;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 150px;
	max-height: 300px;
}
.circle-picker {
	padding: 20px;
}
.chat--wrapper {
	display: flex;
	flex-direction: column;

	margin: auto;
	background: #fbfbfb;

	box-shadow: 0 0 1px #c5c5c5;
	border-radius: 8px;
	width: 85%;
}
.chat--header {
	background: #5f6877;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.chat--header > h3 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	margin: 0;
	padding: 2px 0;
}
.chat--windows-wrapper {
	display: flex;
	flex-direction: row;
}

.chat--windows__item {
	padding: 6px 21px 6px 10px;
	background-color: #2e394c;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: left;
	position: relative;
	cursor: pointer;
}

.chat--windows__item:hover,
.chat--windows__item.active-window {
	background-color: #445b82;
}

.chat--windows__close {
	cursor: pointer;
	position: absolute;
	right: 4px;
	top: 1px;
	font-size: 21px;
}

.chat--main-box {
	display: flex;
	flex-direction: row;
	height: 70vh;
}

.chat--messages-box {
	background: #21272f;
	flex: 0 1 75%;
	overflow-y: scroll;
}

.chat--users {
	background: #2e394c;
	position: relative;
	flex: 0 1 25%;
}
.chat--users__list {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin-top: 14px;
	padding-left: 10px;
	height: 88%;
	overflow-y: scroll;
}

.chat--users__list-item {
	position: relative;
	cursor: pointer;
	margin: 5px 0;
	background: #1c2431;
	padding: 6px 14px;
}

.chat--users > h3 {
	margin: 0;
	color: #fff;
	text-align: center;
	padding: 10px;
}

/* Chat messages */
.chat-message__item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin: 8px 0;
	padding: 0 10px;
}
.chat-message__date {
	color: #b5b5b5;
	flex: 0 1 22%;
	font-size: 12px;
	display: block;
	padding: 0;
	margin: 0;
	opacity: 0.6;
}
.chat-message__author {
	font-weight: bold;
	flex: 0 1 18%;
	text-align: center;
}
.chat-message__text {
	color: #fff;
	flex: 0 1 60%;
	overflow-y: visible;
	overflow-x: hidden;
	word-break: break-all;
	border-radius: 7px;
	padding: 6px 12px;
	background-color: #2e394c;
	margin-left: 8px;
}

/* Chat Controls */
.chat--controls-box {
	display: flex;
	flex-direction: row;
}
.chat--controls-input {
	flex: 0 1 75%;
	position: relative;
}

.chat--controls-counter {
	position: absolute;
	bottom: 0px;
	right: 18px;
	color: #9c9c9c;
}
.chat--controls-sendBtn {
	flex: 0 1 25%;
	border: 0;
	padding: 0;
	background: #1e2333;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
	cursor: pointer;
}
.chat--controls-sendBtn:hover,
.chat--controls-sendBtn:focus,
.chat--controls-sendBtn:active {
	background: #2f3340;
	border: 0;
	outline: 0;
}

.chat--controls-input > textarea {
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 100%;
	outline: 0;
	box-shadow: none;
	border: none;

	border-radius: 0;
	box-sizing: content-box;
	background-color: transparent;
	overflow-y: visible;
	padding: 0;
	height: 100%;
	max-height: 100%;
	resize: none;
	color: #fff;
	background: #40444a;
	font-size: 16px;
}
.hide-arrow {
	display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.chat-message__item {
		display: flex;
		flex-direction: column;
	}
	.hide-arrow {
		display: block;
		top: 48%;
		left: -6px;
		position: absolute;
		padding: 3px 6px;
		background: #5f6879;
		color: #fff;
		font-size: 19px;
		cursor: pointer;
	}
	.chat--messages-box {
		flex: 0 1 98%;
	}
	.chat-message__text {
		margin: 4px 5px 0px 0px;
	}
	.chat-message__item {
		align-items: baseline;
	}
	.chat-message__item.author {
		align-items: flex-end;
	}
	.chat--users {
		flex: 0 1 10%;
		font-size: 10px;
	}
	.chat--users.shrink {
		flex: 0 1 2%;
	}

	.chat--users.shrink .chat--users__list,
	.chat--users.shrink > h3 {
		display: none;
	}
	.chat--users__list {
		font-size: 10px;
	}
	.chat--controls-sendBtn {
		flex: 0 1 37%;
	}
	.chat--controls-input {
		flex: 0 1 63%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.chat--wrapper {
		width: 900px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-height: 900px) {
	.chat--main-box {
		height: 600px;
	}
}
